/* Google font */
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

.about-us-page {
  /* margin-bottom: 140px; */
  padding-top: 60px !important;

  /* height: 100vh;
  overflow: auto; */
}
.about-us-page-light {
  background-color: white;
}
.about-us-page-dark {
  background-color: black;
}
.name {
  font-weight: bold;
  font-size: 3rem;

  /* background: linear-gradient(90deg, #000000d4, #7f0381);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  animation-name: nameAnimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse; */
}
.name-light {
  background: linear-gradient(90deg, #000000d4, #7f0381);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  animation-name: nameAnimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.name-dark {
  background: linear-gradient(90deg, #bab9b9d4, #7f0381);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  animation-name: nameAnimation1;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@keyframes nameAnimation1 {
  0% {
    font-weight: bold;
    font-size: 3rem;
    background: linear-gradient(90deg, #bab9b9d4, #bb04be);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  25% {
    font-weight: bold;
    font-size: 3rem;
    background: linear-gradient(180deg, #bab9b9d4, #bb04be);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50% {
    font-weight: bold;
    font-size: 3rem;
    background: linear-gradient(270deg, #bab9b9d4, #bb04be);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  75% {
    font-weight: bold;
    font-size: 3rem;
    background: linear-gradient(3600deg, #bab9b9d4, #bb04be);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    font-weight: bold;
    font-size: 3rem;
    background: linear-gradient(0deg, #bab9b9d4, #bb04be);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@keyframes nameAnimation {
  0% {
    font-weight: bold;
    font-size: 3rem;
    background: linear-gradient(90deg, #2d2c2cd4, #bb04be);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  25% {
    font-weight: bold;
    font-size: 3rem;
    background: linear-gradient(180deg, #2d2c2cd4, #bb04be);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50% {
    font-weight: bold;
    font-size: 3rem;
    background: linear-gradient(270deg, #2d2c2cd4, #bb04be);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  75% {
    font-weight: bold;
    font-size: 3rem;
    background: linear-gradient(3600deg, #2d2c2cd4, #bb04be);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    font-weight: bold;
    font-size: 3rem;
    background: linear-gradient(0deg, #2d2c2cd4, #bb04be);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.degree {
  font-weight: bold;
  color: purple;
}
.about-description-light {
  color: black;
}
.about-description-dark {
  color: rgb(184, 182, 182);
}
.profile-pic {
  width: 60%;
  height: 60%;
  border-radius: 50%;
  /* box-shadow: 8px 5px 9px rgba(0, 0, 0, 0.399); */

  animation-name: profileAnimations;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  /* filter: grayscale(100%); */
}
.profile-pic-light {
  /* box-shadow: 8px 5px 9px rgba(0, 0, 0, 0.399); */
  /* filter: grayscale(100%); */
}
.profile-pic-dark {
  /* box-shadow: 8px 5px 9px rgba(121, 121, 121, 0.399); */
  filter: grayscale(100%);
}
.profile-pic:hover {
  /* transform: scale(1.1); */
  filter: grayscale(0%);
}
@keyframes profileAnimation {
  /* 0% {
    background-color: rgba(251, 167, 167, 0.607);
  }
  25% {
    background-color: rgba(255, 255, 166, 0.636);
  }
  50% {
    background-color: rgba(164, 164, 255, 0.549);
  }
  100% {
    background-color: rgba(182, 251, 182, 0.419);
  } */
  from {
    /* background-color: rgba(251, 167, 167, 0.607); */
  }
  to {
    /* background-color: rgba(182, 251, 182, 0.419); */
    filter: grayscale(100%);
  }
}
.s {
  position: relative;
}
.hover-me {
  position: absolute;
  top: 80%;
  z-index: 20;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
}
.skill-image {
  width: 50%;
}
.skills-tag {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;

  color: #433a45;
  text-shadow: 2px 3px 6px grey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.age,
.email,
.phone,
.place {
  color: purple;

  font-weight: bold;
}
.skill-box {
  /* box-shadow: 5px 6px 6px black; */
  height: 150px;
  width: 150px;
  /* background-color: white; */
  border-radius: 10%;
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, 0.22); */
}
.skill-box-light {
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, 0.22);
  color: black;
}
.skill-box-dark {
  /* background-color: rgb(52, 51, 51) !important; */
  background-color: rgb(45, 45, 45) !important;
  /* box-shadow: 0 5px 10px rgba(241, 15, 181, 0.25),
    0 5px 10px rgba(255, 255, 255, 0.22) !important; */
  /* box-shadow: 0 5px 10px rgb(5, 148, 145) !important; */
  /* box-shadow: 0 5px 10px rgba(104, 104, 104, 0.25),
    0 5px 10px rgba(0, 0, 0, 0.22); */

  /* box-shadow: 0 8px 10px rgb(93, 10, 93) !important; */
  color: rgb(140, 138, 138);
  /* box-shadow: 0 8px 10px rgb(93, 10, 93) !important; */
  /* border: 1px solid white; */

  animation: shine 3s linear infinite alternate-reverse;
  /* border-width: 2px !important;
  border-style: solid !important;
  border-bottom: yellow;
  border-top: red;
  border-left: blue;
  border-right: green; */
  margin: 10px 0;
}
@keyframes shine {
  from {
    box-shadow: 0 8px 10px rgb(140, 6, 140);
    /* box-shadow: 0 8px 1px rgb(140, 6, 140), 0px -8px 1px rgb(140, 6, 140); */
  }
  to {
    box-shadow: 0 8px 10px rgb(10, 85, 93);
    /* box-shadow: 0 8px 1px rgb(10, 85, 93), 0px -8px 1px rgb(10, 85, 93); */
  }
}
@keyframes shine1 {
  0% {
    /* border-bottom: yellow;
    border-top: red;
    border-left: blue;
    border-right: green; */
    box-shadow: 0 8px 10px rgb(93, 10, 93);
  }
  25% {
    /* border-bottom: green;
    border-top: yellow;
    border-left: red;
    border-right: blue; */
    box-shadow: 0 8px 10px rgb(10, 58, 93);
  }
  50% {
    /* border-bottom: blue;
    border-top: green;
    border-left: yellow;
    border-right: red; */
    box-shadow: 0 8px 10px rgb(18, 93, 10);
  }
  75% {
    /* border-bottom: red;
    border-top: blue;
    border-left: green;
    border-right: yellow; */
    box-shadow: 0 8px 10px rgb(93, 10, 10);
  }
  100% {
    /* border-bottom: yellow;
    border-top: red;
    border-left: blue;
    border-right: green; */
    box-shadow: 0 8px 10px rgb(85, 93, 10);
  }
}
.skill-box-dark:hover {
  /* background-color: rgba(102, 66, 247, 0.61) !important; */
  background-color: rgba(19, 176, 255, 0.212) !important;
  /* background-color: rgba(197, 9, 240, 0.245) !important; */
  /* box-shadow: 0 8px 10px rgb(136, 16, 136) !important; */
  box-shadow: 0 0px 0px rgb(75, 7, 75) !important;
  /* box-shadow: 0 8px 10px rgba(14, 223, 246, 0.25),
    0 5px 10px rgba(35, 207, 255, 0.22) !important; */
}

.skill-title {
  font-weight: bold;
  font-size: 1rem;
}
.skill-box-light:hover {
  background-color: antiquewhite;
  box-shadow: 0 5px 10px rgba(32, 22, 221, 0.25),
    0 5px 10px rgba(102, 95, 238, 0.22);
}
.education {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;

  color: purple;
  text-shadow: 2px 3px 6px grey;
}
.education-box {
  transition: transform 0.2s;
}
.education-box:hover {
  transform: scale(1.1);
}
.education-details {
  /*  
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
}
.education-details-light {
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.education-details-dark {
  background-color: rgb(7, 7, 7);
  /* box-shadow: rgba(197, 197, 200, 0.25) 0px 6px 12px -2px,
    rgba(167, 166, 166, 0.3) 0px 3px 7px -3px; */
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.815);
  padding: 10px 0;
}

.institution-pic {
  height: 150px;
}
.institution-pic img {
  width: 100%;
  height: 100%;
}
.institute-degree {
  font-weight: bold;
  /* color: rgb(3, 3, 111); */
}
.institute-degree-light {
  color: rgb(3, 3, 111);
}
.institute-degree-dark {
  color: rgb(128, 128, 202);
}
.institute-name {
  color: rgb(85, 84, 84);
  font-weight: bold;
}
.passing-year {
  font-weight: bold;
  /* color: rgb(5, 69, 5); */
}
.passing-year-light {
  color: rgb(5, 69, 5);
}
.passing-year-dark {
  color: rgb(18, 96, 18);
}
@media only screen and (min-width: 768px) {
  /* tablets and desktop */
  .skill-box {
    /* box-shadow: 5px 6px 6px black; */
    height: 150px;
    background-color: white;
    border-radius: 10%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, 0.22);
  }
}

@media only screen and (max-width: 767px) {
  /* phones */
  .skill-box {
    box-shadow: 5px 6px 6px black;
    height: 120px;
    width: 120px;
    background-color: white;
    border-radius: 10%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, 0.22);
  }
  .institute-degree {
    font-weight: bold;
    /* color: rgb(3, 3, 111); */
    font-size: 1.2rem;
  }
  .institute-name {
    color: rgb(85, 84, 84);
    font-weight: bold;
    font-size: 0.8rem;
  }
  .passing-year {
    font-weight: bold;
    /* color: rgb(5, 69, 5); */
    font-size: 1rem;
  }
}

/* ============================================== */
.profile_picture {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  /* border: 2px solid red; */
  border-radius: 50%;
}
.profile_picture:hover {
  /* transform: scale(1.1); */
}
.mainBox {
  width: 300px;
  height: 300px;
  /* border: 2px solid rgba(169, 21, 115, 0.553); */
  /* box-shadow: 9px 8px 9px gray; */
  box-shadow: 6px 8px 9px rgba(152, 29, 180, 0.49);
  border-radius: 50%;
  position: relative;
}
.leftAni-light-mode {
  box-shadow: 6px 8px 9px rgba(152, 29, 180, 0.49);
}
.leftAni-dark-mode {
  box-shadow: 6px 8px 9px rgba(52, 52, 52, 0.49);
}
.leftAni {
  /* box-shadow: 6px 8px 9px rgba(152, 29, 180, 0.49); */
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 0.789) 0%,
    rgba(253, 29, 29, 0.738) 50%,
    rgba(252, 176, 69, 0.64) 100%
  );
  border-radius: 50%;
  position: absolute;
  top: 60%;
  left: -10%;
  z-index: 3;
  animation-name: leftboxanimation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@keyframes leftboxanimation {
  from {
    transform: scale(0.4);
  }
  to {
    transform: scale(1.1);
  }
}
.rightAni_light_mode {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0.699) 0%,
    rgba(148, 0, 164, 1) 59%,
    rgba(238, 0, 255, 0.444) 100%
  );
  box-shadow: 6px 8px 9px rgba(152, 29, 180, 0.49);
}
.rightAni_dark_mode {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(100, 15, 133, 0.781) 0%,
    rgba(148, 0, 164, 1) 59%,
    rgba(238, 0, 255, 0.444) 100%
  );
  box-shadow: 6px 8px 9px rgba(52, 52, 52, 0.49);
}
.rightAni-light {
  box-shadow: 6px 8px 9px rgba(152, 29, 180, 0.49);
}
.rightAni {
  /* box-shadow: 6px 8px 9px rgba(152, 29, 180, 0.49); */
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  /* background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0.699) 0%,
    rgba(148, 0, 164, 1) 59%,
    rgba(238, 0, 255, 0.444) 100%
  ); */
  border-radius: 50%;
  position: absolute;
  top: 5%;
  left: 80%;
  z-index: 3;
  animation-name: rightboxanimation;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@keyframes rightboxanimation {
  from {
    transform: scale(0.4);
  }
  to {
    transform: scale(1.1);
  }
}
.mainBox_light_mode {
  color: rgb(19, 18, 18);
}
.mainBox_dark_mode {
  color: rgb(195, 194, 194);
}
