.header {
  width: 100%;
  background-color: rgba(250, 235, 215, 0.367);
  padding: 6px 0;
}
.logo {
  height: 30px;
  margin-left: 15px;
}
.logo img {
  height: 100%;
}

/* =================================== */
.menu {
  position: fixed;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 999;
}
.navbar-icon {
  background-color: rgba(255, 251, 251, 0.959);
  border-radius: 50px;
  padding-left: 0;
  display: flex;

  justify-content: center;

  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.nav-icon {
  display: inline-block;
  height: 45px;
  margin: 0.3rem 2rem;
}
.navlink {
  text-decoration: none;

  color: rgba(70, 2, 70, 0.64);
  position: relative;
  font-size: 1.8rem;
}
.home:hover,
.project:hover,
.about:hover,
.contact:hover {
  font-size: 3rem;
  z-index: 3;
  top: -20px;
}

@media only screen and (min-width: 768px) {
  /* tablets and desktop */
}

@media only screen and (max-width: 767px) {
  /* phones */
  .navbar-icon {
    background-color: rgba(255, 251, 251, 0.959);
    border-radius: 50px;
    padding-left: 0;
    display: flex;

    justify-content: center;
  }
  .nav-icon {
    display: inline-block;
    height: 35px;
    margin: 0.3rem 1rem;
  }
  .navlink {
    text-decoration: none;

    font-size: 1.3rem;
    color: rgba(70, 2, 70, 0.64);
    position: relative;
  }
  .home:hover,
  .project:hover,
  .about:hover,
  .contact:hover {
    font-size: 3rem;
    z-index: 3;
  }
}
