.underConstruction-dark {
  background-color: black;
  height: 100vh;
}
.underConstruction-light {
  background-color: rgb(255, 255, 255);
  height: 100vh;
}
.under-construction-box {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.coming-soon-box {
  /* background-color: black;
  color: yellow; */
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  padding: 9px 0;
  transform: skew(-20deg);
  text-transform: uppercase;
  z-index: 3;
}
.coming-soon-box-light {
  background-color: black;
  color: yellow;
}
.coming-soon-box-dark {
  /* background-color: black; */
  border: 1px solid rgb(150, 149, 149);
  color: yellow;
}
.under-construction-back-box {
  display: flex;
  justify-content: right;
}
.under-construction-back-button {
  width: 60%;
  background-color: rgb(255, 255, 0);
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  padding: 9px 0;
  transform: skew(-20deg);
  text-transform: uppercase;
  border: none;
  margin-right: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.under-construction-back-button:hover {
  width: 80%;
}
@keyframes example {
  from {
    background-color: rgb(251, 81, 81);
  }
  to {
    background-color: yellow;
  }
}
