.contact_info {
  /* margin-bottom: 120px; */
  /* margin-bottom: 20px; */
  padding-top: 40px !important;
}
.contact_info-light {
  background-color: white;
}
.contact_info-dark {
  background-color: black;
}
.contact-icons {
  width: 50px;
}
.contact-icons-light {
  filter: brightness(100%);
}
.contact-icons-dark {
  filter: brightness(60%);
}
.contact-info-item {
  /* background-color: white;
  box-shadow: 3px 3px 6px rgb(237, 236, 236); */
}
.contact-info-item-light {
  background-color: white;
  box-shadow: 3px 3px 6px rgb(237, 236, 236);
}
.contact-info-item-dark {
  background-color: rgb(26, 25, 25);
  border-radius: 10px;
  /* box-shadow: 3px 3px 6px rgb(89, 89, 89); */
}
.contact-info-item-dark:hover {
  box-shadow: 1px 1px 6px rgb(14, 217, 231);
  transform: scale(1.1);
}
.contact-info-item-light:hover {
  box-shadow: 3px 3px 6px rgb(121, 121, 121);
  transform: scale(1.1);
}
.contact-info-tile {
  font-weight: bold;
}
.contact-form-title {
  font-weight: bold;
  font-size: 1.6rem;
}
.contact-message-box {
  height: 150px;
}
.contact-info-content-light {
  color: black;
}
.contact-info-content-dark {
  color: rgba(255, 255, 255, 0.533);
}
.contact-form-data {
  /* box-shadow: 3px 3px 6px rgb(237, 236, 236); */
  /* background-color: white;
  
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
}
.contact-form-data-light {
  background-color: white;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.contact-form-data-dark {
  /* background-color: rgb(31, 31, 31); */
  background-color: rgb(11, 11, 11);

  box-shadow: rgba(192, 192, 192, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.contact-phone,
.contact-name,
.contact-email,
.contact-message-box {
  width: 99%;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-right: 1rem;
  outline: none;
  border: none;
}
.contact-color-light {
  background-color: white;
  color: rgb(38, 38, 38);
}
.contact-color-dark {
  background-color: rgb(11, 11, 11);
  color: rgb(137, 135, 135);
}
.contact-phone:hover,
.contact-name:hover,
.contact-email:hover,
.contact-message-box:hover {
  border: none;
  outline: none;
}
.contact-message {
  border: 1px solid gray;
}
.contact-message-box {
  border: none;
}
.contact-submit-button {
  width: 100%;
  padding: 0.6rem;
  border: none;
  /* background-color: rgb(248, 233, 214); */
  font-weight: bold;
  /* color: rgb(74, 74, 74); */
}
.contact-submit-button-light {
  background-color: rgb(248, 233, 214);
  color: rgb(74, 74, 74);
}
.contact-submit-button-dark {
  background-color: rgb(51, 51, 51);
  color: rgba(219, 216, 216, 0.581);
}
.contact-submit-button:hover {
  transform: scaleX(0.9);
}
.contact-form-name,
.contact-form-email,
.contact-form-phone {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
}
.contact-react-icon {
  font-size: 1.5rem;
  color: rgb(96, 95, 95);
}
.contact-lottie-image {
  height: 90%;
}
.get-in-touch-title {
  font-size: 2rem !important;
}
@media only screen and (max-width: 767px) {
  /* phones */
  .contact-info-item-dark:hover {
    box-shadow: 1px 1px 6px rgb(14, 217, 231);
    transform: scale(1.05);
  }
  .contact-info-item-light:hover {
    box-shadow: 3px 3px 6px rgb(121, 121, 121);
    transform: scale(1);
  }
}
