* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.text-dark {
  color: rgba(245, 245, 245, 0.484) !important;
}
.text-light {
  color: #433a45 !important;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
}
.text-purple {
  color: purple;
}
.page-title {
  text-align: center;

  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #433a45;

  animation-name: examples;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;

  /* text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.slide-line-light {
  background-image: linear-gradient(90deg, #433a45 2%, purple 98%);
}
.slide-line-dark {
  background-image: linear-gradient(90deg, #afaeae 2%, purple 98%) !important;
}
.slide-line {
  width: 2%;
  height: 6px;
  /* background-color: purple; */
  /* background-image: linear-gradient(90deg, #433a45 2%, purple 98%); */
  animation-name: slideanimations;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  margin-top: 9px;
  /* text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3); */
}
@keyframes slideanimations {
  from {
    width: 2%;
  }
  to {
    width: 15%;
  }
}
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.u-margin-bottom {
  margin-bottom: 140px;
}
/* ========================  Tablets ================ */
@media only screen and (min-width: 768px) {
  /* tablets and desktop */
  .slide-line {
    width: 2%;
    height: 6px;
    /* background-color: purple; */
    background-image: linear-gradient(90deg, #433a45 2%, purple 98%);
    animation-name: slideanimations;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    margin-top: 9px;
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
      0px -5px 35px rgba(255, 255, 255, 0.3);
  }
  @keyframes slideanimations {
    from {
      width: 2%;
    }
    to {
      width: 25%;
    }
  }
  ::-webkit-scrollbar {
    width: 7px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    border-radius: 100px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

/* ============================ Phones =============== */
@media only screen and (max-width: 767px) {
  /* phones */
  .page-title {
    text-align: center;

    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #433a45;
    animation-name: examples;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;

    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
      0px -5px 35px rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .slide-line {
    width: 2%;
    height: 4px;
    /* background-color: purple; */
    background-image: linear-gradient(90deg, #433a45 2%, purple 98%);

    animation-name: slideanimations;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    margin-top: 9px;
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
      0px -5px 35px rgba(255, 255, 255, 0.3);
  }
  @keyframes slideanimations {
    from {
      width: 2%;
    }
    to {
      width: 45%;
    }
  }
  ::-webkit-scrollbar {
    width: 7px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    border-radius: 100px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
